h1{
    color: rgb(135, 65, 255);
    text-align: center;
    font-family:lato;
    font-size: 60px;
    padding-top: 200px;
}

p {
    color: antiquewhite;
    text-align: center;
    font-family:lato;
    font-size: 40px;
    padding-top: 40px;
}
h2 {
    color: antiquewhite;
    text-align: center;
    font-family:lato;
    font-size: 40px;
    padding-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 300px;px;
    padding-bottom: 10px
}
.Gitlink {
    color: antiquewhite;
    text-align: center;
    margin-left: 330px;
    font-size: 40px;

    }
    .Gitlink:hover {
    font-size: 50px;
    color: rgb(0, 0, 0);

    }

.Mouse:hover{
    color: rgb(180, 164, 252);
    
}